:root {
  --bg-color: rgb(214, 214, 214);
  --board-color: rgb(112, 112, 112);
  --tile-color: rgb(22, 15, 15);
  --radius-size: 1vmin;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  background-color: var(--bg-color);
  font-size: 7.5vmin;
}

main {
  height: 100%;
  width: 100%;
}

#game-board {
  background-color: var(--board-color);
  display: grid;
  grid-template-columns: repeat(var(--tile-qty), var(--tile-size));
  grid-template-rows: repeat(var(--tile-qty), var(--tile-size));
  gap: var(--gap-size);
  border-radius: var(--radius-size);
  padding: var(--gap-size);
  position: relative;
}

.placeholder {
  background-color: var(--bg-color);
  border-radius: 1vmin;
}

.tile {
  background-color: hsl(200, 50%, var(--background-lightness));
  color: hsl(200, 25%, var(--text-lightness));
  position: absolute;
  border-radius: var(--radius-size);
  height: var(--tile-size);
  width: var(--tile-size);
  top: calc(var(--y) * (var(--tile-size) + var(--gap-size)) + var(--gap-size));
  left: calc(var(--x) * (var(--tile-size) + var(--gap-size)) + var(--gap-size));
  font-weight: bold;
  transition: 100ms ease-in-out;
  animation: appear 200ms ease-in-out;
}

.disabled {
  filter: brightness(50%);
  pointer-events: none;
}

body,
main,
.tile,
.placeholder,
.pop-up,
.pop-up > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up {
  z-index: 1;
  padding: 5%;
  border: 2px solid var(--tile-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  justify-content: space-around;
  animation: expand 0.3s ease-in-out;
  font-size: 3vmin;
  width: 40%;
  height: 40%;
}

.pop-up > div {
  width: 50%;
  font-weight: bolder;
}

button {
  border: none;
  cursor: pointer;
  background-color: var(--board-color);
  color: var(--bg-color);
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  padding: 5%;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button:hover {
  filter: brightness(120%);
}

button:active {
  filter: brightness(80%);
}

.winner {
  color: rgb(9, 126, 9);
}

.loser {
  color: crimson;
}

@keyframes appear {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
